<div class="row"  >
    <div class="col-12">
        <div class="col-12">
            <div *ngIf="element.type === 'server'" style="color: green;">
                {{element.name}}
            </div>
            <div *ngIf="element.type === 'blueprint'" style="color: red;">
                {{element.name}}
            </div>
        <div style="color: red;">
            {{element.content}}
        </div>
        <div style="color:blue">
            {{element.type}}
        </div>
    </div>
</div>
